@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%; /* White */
    --foreground: 224 71% 12%; /* Dark Blue */

    --card: 0 0% 100%;
    --card-foreground: 224 71% 12%;

    --popover: 0 0% 100%;
    --popover-foreground: 224 71% 12%;

    --primary: 262 84% 59%; /* Violet */
    --primary-foreground: 210 40% 98%;

    --secondary: 240 5% 96%;
    --secondary-foreground: 240 6% 10%;

    --muted: 240 5% 96%;
    --muted-foreground: 240 4% 46%;

    --accent: 240 5% 92%;
    --accent-foreground: 240 6% 10%;

    --destructive: 0 84% 60%;
    --destructive-foreground: 210 40% 98%;

    --border: 240 6% 90%;
    --input: 240 6% 90%;
    --ring: 262 84% 59%;

    --radius: 0.75rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
    background-image: radial-gradient(circle at 15% 50%, hsl(var(--primary) / 0.05), transparent 30%),
                      radial-gradient(circle at 85% 40%, hsl(var(--primary) / 0.05), transparent 30%),
                      radial-gradient(circle at 50% 95%, hsl(var(--primary) / 0.03), transparent 25%);
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-headline;
  }
}
